<md-dialog aria-label="Mango (Fruit)" flex="30" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span>{{::vm.dialogData.title}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>
    <md-dialog-content class="sticky-container">
        <div>
            <form name="taskForm" novalidate>
                <md-input-container>
                    <label translate>Email</label>
                    <input ng-model="vm.item.email" class="dialog-close"  disabled />
                </md-input-container>

                <md-input-container>
                    <label translate>Password</label>
                    <input ng-model="vm.item.password" class="dialog-close" name="Password"
                           ng-minlength="5" ng-maxlength="25" type="password" required
                           ng-keyup="vm.dialogController.validateForm('Password', $event)"
                           ng-focus="vm.dialogController.validateEmptyForm('Password', $event)"/>
                </md-input-container>

                <md-input-container>
                    <label translate>Confirm Password</label>
                    <input ng-model="vm.item.confirmPassword" class="dialog-close" name="Password"
                           ng-minlength="5" ng-maxlength="25" type="password" required
                           ng-keyup="vm.dialogController.validateForm('Password', $event)"
                           ng-focus="vm.dialogController.validateEmptyForm('Password', $event)"/>
                </md-input-container>

            </form>
        </div>


    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok
        </md-button>
    </div>
</md-dialog>

